In [0]:
rdd=sc.textFile("/FileStore/tables/sharemarket.csv")

In [0]:
rdd1=rdd.map(lambda x:x.split(","))

In [0]:
schema1=['MARKET','SERIES','SYMBOL','SECURIT','PREV_CL_PR','OPEN_PRICE','HIGH_PRICE','LOW_PRICE','CLOSE_PRICE','NET_TRDVALUE','NET_TRDQTY','CORP_IND','TRADES','HI_52_WK','LO_52_WK']
DF=spark.createDataFrame(rdd1,schema=schema1)
DF.show()

+------+------+----------+--------------------+----------+----------+----------+---------+-----------+------------+----------+--------+------+--------+--------+
|MARKET|SERIES|    SYMBOL|             SECURIT|PREV_CL_PR|OPEN_PRICE|HIGH_PRICE|LOW_PRICE|CLOSE_PRICE|NET_TRDVALUE|NET_TRDQTY|CORP_IND|TRADES|HI_52_WK|LO_52_WK|
+------+------+----------+--------------------+----------+----------+----------+---------+-----------+------------+----------+--------+------+--------+--------+
|     N|    N1|      IRFC|BOND 8.00% PA TAX...|      1086|      1085|      1085|  1084.54|       1085|  3371959.44|      3108|        |     8|    1194|    1050|
|     N|    N1|      JNPT|BOND 6.82% PA TAX...|      1001|    1007.1|      1015|   1007.1|       1015|       51370|        51|        |     2| 1529.99|    1000|
|     N|    N1|      NHAI|BOND 8.20% PA TAX...|   1091.38|      1092|      1092|     1087|    1089.98|  3861145.49|      3544|        |    39|    1140|    1045|
|     N|    N1|      NTPC|8.41%S-R-NCD SERI...|   1198.99|      1135|      1135|     1135|       1135|      113500|       100|        |     1|    1275|  1022.1|
|     N|    N1|    RECLTD|TAXFREE SEC NCD T...|   1083.54|      1088|      1088|     1085|       1085|      108530|       100|        |     2|  1184.8|    1041|
|     N|    N2| BRITANNIA|   8.00% SEC RED NCD|     33.07|     33.07|      33.2|     32.8|      33.14|   677372.39|     20461|        |   107|      36|    29.9|
|     N|    N2|     HUDCO|8.20 NCD05MAR27 F...|      1215|      1222|      1222|     1222|       1222|        3666|         3|        |     2|    1311|    1171|
|     N|    N2|     IIFCL|  8.66% TAX FREE NCD|      1135|      1137|      1137|     1137|       1137|        4548|         4|        |     1|    1390|  1101.1|
|     N|    N2|    M&MFIN| 9.00% UNSECURED NCD|      1104|   1101.98|   1101.98|  1080.05|    1089.43|    423116.5|       388|        |    12|    1229|  1049.5|
|     N|    N2|    NABARD|7.64% TAX FREE TR...|    1238.5|   1239.01|   1239.55|  1237.01|    1238.22|   125060.45|       101|        |     4|  1304.8|    1181|
|     N|    N2|      NHAI|BOND 8.30% PA TAX...|    1258.5|    1255.5|      1257|   1253.1|    1256.45|    464590.5|       370|        |     6|  1294.9|    1176|
|     N|    N2|      NTPC|8.48%S-R-NCD SERI...|      1282|    1282.5|      1283|   1282.5|       1283|      128275|       100|        |     2|    1854|    1225|
|     N|    N2|     PCHFL|SEC RE NCD 8.35% ...|      1000|      1000|   1004.67|     1000|    1001.68|   526800.91|       526|        |    17|    1028|  981.01|
|     N|    N2|    RECLTD|TAXFREE SEC NCD T...|      1207|      1192|      1192|     1192|       1192|      238400|       200|        |     1|    1288|    1160|
|     N|    N2|TATACAPHSG|SEC RED NCD 8.10%...|   1054.21|   1055.01|      1058|     1055|       1058|   1105942.5|      1048|        |    42|    1160|     950|
|     N|    N3| BRITANNIA| UNSEC RED NCD 5.50%|     29.43|      29.4|      29.7|    29.38|      29.47|  4233217.99|    143810|        |   787|    30.5|      29|
|     N|    N3|DHANILOANS|DHANI LOANS & SER...|      1008|      1002|      1003|     1002|       1003|       78158|        78|        |     5|    1030|     810|
|     N|    N3|     HUDCO|8.10 NCD 05MAR22 ...|   1054.84|   1054.84|    1055.9|  1054.52|    1054.91|  1729096.92|      1639|        |    19|    1320|    1000|
|     N|    N4|DHANILOANS|DHANI LOANS & SER...|    1020.8|   1022.01|   1022.01|  1022.01|    1022.01|     2044.02|         2|        |     1| 1098.75|     851|
|     N|    N4|  ERFLNCDI|SEC RED NCD 9.00%...|       986|    988.22|    988.22|   988.22|     988.22|     29646.6|        30|        |     1|    1050|  829.95|
+------+------+----------+--------------------+----------+----------+----------+---------+-----------+------------+----------+--------+------+--------+--------+
only showing top 20 rows

In [0]:
DF.createOrReplaceTempView("sales")

In [0]:
spark.sql("select * from sales").show()

+------+------+----------+--------------------+----------+----------+----------+---------+-----------+------------+----------+--------+------+--------+--------+
|MARKET|SERIES|    SYMBOL|             SECURIT|PREV_CL_PR|OPEN_PRICE|HIGH_PRICE|LOW_PRICE|CLOSE_PRICE|NET_TRDVALUE|NET_TRDQTY|CORP_IND|TRADES|HI_52_WK|LO_52_WK|
+------+------+----------+--------------------+----------+----------+----------+---------+-----------+------------+----------+--------+------+--------+--------+
|     N|    N1|      IRFC|BOND 8.00% PA TAX...|      1086|      1085|      1085|  1084.54|       1085|  3371959.44|      3108|        |     8|    1194|    1050|
|     N|    N1|      JNPT|BOND 6.82% PA TAX...|      1001|    1007.1|      1015|   1007.1|       1015|       51370|        51|        |     2| 1529.99|    1000|
|     N|    N1|      NHAI|BOND 8.20% PA TAX...|   1091.38|      1092|      1092|     1087|    1089.98|  3861145.49|      3544|        |    39|    1140|    1045|
|     N|    N1|      NTPC|8.41%S-R-NCD SERI...|   1198.99|      1135|      1135|     1135|       1135|      113500|       100|        |     1|    1275|  1022.1|
|     N|    N1|    RECLTD|TAXFREE SEC NCD T...|   1083.54|      1088|      1088|     1085|       1085|      108530|       100|        |     2|  1184.8|    1041|
|     N|    N2| BRITANNIA|   8.00% SEC RED NCD|     33.07|     33.07|      33.2|     32.8|      33.14|   677372.39|     20461|        |   107|      36|    29.9|
|     N|    N2|     HUDCO|8.20 NCD05MAR27 F...|      1215|      1222|      1222|     1222|       1222|        3666|         3|        |     2|    1311|    1171|
|     N|    N2|     IIFCL|  8.66% TAX FREE NCD|      1135|      1137|      1137|     1137|       1137|        4548|         4|        |     1|    1390|  1101.1|
|     N|    N2|    M&MFIN| 9.00% UNSECURED NCD|      1104|   1101.98|   1101.98|  1080.05|    1089.43|    423116.5|       388|        |    12|    1229|  1049.5|
|     N|    N2|    NABARD|7.64% TAX FREE TR...|    1238.5|   1239.01|   1239.55|  1237.01|    1238.22|   125060.45|       101|        |     4|  1304.8|    1181|
|     N|    N2|      NHAI|BOND 8.30% PA TAX...|    1258.5|    1255.5|      1257|   1253.1|    1256.45|    464590.5|       370|        |     6|  1294.9|    1176|
|     N|    N2|      NTPC|8.48%S-R-NCD SERI...|      1282|    1282.5|      1283|   1282.5|       1283|      128275|       100|        |     2|    1854|    1225|
|     N|    N2|     PCHFL|SEC RE NCD 8.35% ...|      1000|      1000|   1004.67|     1000|    1001.68|   526800.91|       526|        |    17|    1028|  981.01|
|     N|    N2|    RECLTD|TAXFREE SEC NCD T...|      1207|      1192|      1192|     1192|       1192|      238400|       200|        |     1|    1288|    1160|
|     N|    N2|TATACAPHSG|SEC RED NCD 8.10%...|   1054.21|   1055.01|      1058|     1055|       1058|   1105942.5|      1048|        |    42|    1160|     950|
|     N|    N3| BRITANNIA| UNSEC RED NCD 5.50%|     29.43|      29.4|      29.7|    29.38|      29.47|  4233217.99|    143810|        |   787|    30.5|      29|
|     N|    N3|DHANILOANS|DHANI LOANS & SER...|      1008|      1002|      1003|     1002|       1003|       78158|        78|        |     5|    1030|     810|
|     N|    N3|     HUDCO|8.10 NCD 05MAR22 ...|   1054.84|   1054.84|    1055.9|  1054.52|    1054.91|  1729096.92|      1639|        |    19|    1320|    1000|
|     N|    N4|DHANILOANS|DHANI LOANS & SER...|    1020.8|   1022.01|   1022.01|  1022.01|    1022.01|     2044.02|         2|        |     1| 1098.75|     851|
|     N|    N4|  ERFLNCDI|SEC RED NCD 9.00%...|       986|    988.22|    988.22|   988.22|     988.22|     29646.6|        30|        |     1|    1050|  829.95|
+------+------+----------+--------------------+----------+----------+----------+---------+-----------+------------+----------+--------+------+--------+--------+
only showing top 20 rows

In [0]:
spark.sql("select count(SERIES) from sales").show()

+-------------+
|count(SERIES)|
+-------------+
|          155|
+-------------+

In [0]:
spark.sql("SELECT DISTINCT SERIES FROM SALES").show()

+------+
|SERIES|
+------+
|    NA|
|    N3|
|    NC|
|    N7|
|    N8|
|    N2|
|    N5|
|    N4|
|    N6|
|    N1|
|    N9|
|    NB|
|    NS|
|    NL|
|    NK|
|    NJ|
|    NX|
|    NW|
|    NP|
|    NH|
+------+
only showing top 20 rows

In [0]:
spark.sql("SELECT SERIES,SUM(OPEN_PRICE+HIGH_PRICE+LOW_PRICE+CLOSE_PRICE) TOTAL_PRICE FROM SALES GROUP BY SERIES").show()

+------+------------------+
|SERIES|       TOTAL_PRICE|
+------+------------------+
|    NA|          79628.91|
|    N3| 8348.119999999999|
|    NC|          57412.31|
|    N7|13045.900000000001|
|    N8|32583.230000000003|
|    N2|          42048.85|
|    N5|          35092.07|
|    N4|47750.659999999996|
|    N6|         105463.81|
|    N1|          21630.72|
|    N9|           32401.0|
|    NB|          28642.17|
|    YH|           4098.02|
|    NS|            4129.0|
|    NL|13611.080000000002|
|    NK|7731.4800000000005|
|    Z4|            4124.2|
|    NJ|          17155.18|
|    NX|           1275.88|
|    YS|            4530.0|
+------+------------------+
only showing top 20 rows

In [0]:
spark.sql("SELECT SECURIT,SERIES,MAX(NET_TRDVALUE) FROM SALES GROUP BY SECURIT,SERIES").show()

+--------------------+------+-----------------+
|             SECURIT|SERIES|max(NET_TRDVALUE)|
+--------------------+------+-----------------+
|  10.25% SRNCD SR IX|    N9|             5240|
|7.34 NCD 16FEB23 ...|    N4|         118037.8|
|7.43% TAX FREE TR...|    NH|           127200|
|7.51 NCD 16FEB28 ...|    N5|        2456326.6|
|7.64% TAX FREE TR...|    N2|        125060.45|
|7.64% TAX FREETRI...|    N8|          1458346|
|  7.74% TAX FREE NCD|    N7|        349804.56|
|   8.00% SEC RED NCD|    N2|        677372.39|
|8.10 NCD 05MAR22 ...|    N3|       1729096.92|
|8.12/8.32% TAX FR...|    NI|           835750|
|8.20 NCD05MAR27 F...|    N2|             3666|
|  8.20% TAX FREE NCD|    N4|          1383608|
|  8.30% TAX FREE NCD|    N5|           254915|
|8.41%S-R-NCD SERI...|    N1|           113500|
|8.48%S-R-NCD SERI...|    N2|           128275|
|8.49% SEC NON-CUM...|    N7|       1993104.14|
|8.50% TAX FREE TR...|    N5|           128000|
|8.52% TAX FREE TR...|    N4|           143031|
|  8.66% TAX FREE NCD|    N2|             4548|
|8.75% TAX FREE TR...|    N6|       9604082.74|
+--------------------+------+-----------------+
only showing top 20 rows

In [0]:
spark.sql("select series,(OPEN_PRICE+HIGH_PRICE+LOW_PRICE+CLOSE_PRICE) TOTAL_PRICE,NET_TRDVALUE FROM SALES WHERE NET_TRDVALUE<(OPEN_PRICE+HIGH_PRICE+LOW_PRICE+CLOSE_PRICE)").show()

+------+-----------+------------+
|series|TOTAL_PRICE|NET_TRDVALUE|
+------+-----------+------------+
|    N2|     4888.0|        3666|
|    N4|    4088.04|     2044.02|
|    N5|     3824.8|      1912.4|
|    N6|     5364.0|        1341|
|    NB|     3686.0|        1843|
+------+-----------+------------+

In [0]:
spark.sql("select SERIES,NET_TRDVALUE FROM SALES WHERE NET_TRDVALUE=(SELECT MAX(NET_TRDVALUE) FROM SALES)").show()

+------+------------+
|SERIES|NET_TRDVALUE|
+------+------------+
|    N4|    972888.7|
+------+------------+

In [0]:
spark.sql("select max(cast(OPEN_PRICE AS INT)) HIGHEST_PRICE,MIN(CAST(OPEN_PRICE AS INT)) LOWEST_PRICE FROM SALES").show()

+-------------+------------+
|HIGHEST_PRICE|LOWEST_PRICE|
+-------------+------------+
|        11450|          13|
+-------------+------------+

In [0]:
spark.sql("SELECT SERIES FROM SALES WHERE NET_TRDQTY > 80").show()

+------+
|SERIES|
+------+
|    N1|
|    N1|
|    N1|
|    N1|
|    N2|
|    N2|
|    N2|
|    N2|
|    N2|
|    N2|
|    N2|
|    N2|
|    N3|
|    N3|
|    N4|
|    N4|
|    N4|
|    N4|
|    N4|
|    N5|
+------+
only showing top 20 rows

In [0]:
spark.sql("SELECT SERIES,(sum(NET_TRDVALUE)-sum(NET_TRDQTY)) FROM SALES group by series order by series").show()

+------+-------------------------------------+
|SERIES|(sum(NET_TRDVALUE) - sum(NET_TRDQTY))|
+------+-------------------------------------+
|    N1|                           7499601.93|
|    N2|                           3674571.25|
|    N3|                           5894945.91|
|    N4|                   3474029.2199999997|
|    N5|                           5581855.67|
|    N6|                        1.678578209E7|
|    N7|                           2218463.04|
|    N8|                           3982020.85|
|    N9|                             455370.9|
|    NA|                           3331953.97|
|    NB|                           2430891.59|
|    NC|                           2505038.79|
|    ND|                   4354764.4399999995|
|    NE|                           2538813.87|
|    NF|                           2023897.42|
|    NG|                            598515.95|
|    NH|                           1686244.58|
|    NI|                           2882284.35|
|    NJ|                           7421503.24|
|    NK|                           1010121.69|
+------+-------------------------------------+
only showing top 20 rows