In [0]:
x=10

In [0]:
rdd1=sc.textFile("/FileStore/tables/Records.csv")

In [0]:
type(rdd1)

Out[4]: pyspark.rdd.RDD

In [0]:
header=rdd1.first()
header

Out[19]: 'Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit'

In [0]:
rdd2=rdd1.filter(lambda x:x!=header)

In [0]:
rdd2.first()

Out[11]: 'Central America and the Caribbean,Antigua and Barbuda ,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72'

In [0]:
rdd3=rdd2.map(lambda x:x.split(","))

In [0]:
rdd3.cache()

Out[128]: PythonRDD[9] at RDD at PythonRDD.scala:58

In [0]:
rdd3.first()

Out[16]: ['Central America and the Caribbean',
 'Antigua and Barbuda ',
 'Baby Food',
 'Online',
 'M',
 '12/20/2013',
 '957081544',
 '1/11/2014',
 '552',
 '255.28',
 '159.42',
 '140914.56',
 '87999.84',
 '52914.72']

In [0]:
Q1=rdd3.map(lambda x:(x[1],1)).reduceByKey(lambda a,b:a+b)
Q1.collect()
Q1.saveAsTextFile("/FileStore/tables/output1")

Out[140]: [('Antigua and Barbuda ', 26),
 ('North Korea', 24),
 ('Federated States of Micronesia', 20),
 ('Ethiopia', 26),
 ('Saint Lucia', 29),
 ('Lebanon', 31),
 ('Austria', 28),
 ('Mexico', 23),
 ('Trinidad and Tobago', 19),
 ('Libya', 32),
 ('Algeria', 28),
 ('Estonia', 23),
 ('Saudi Arabia', 23),
 ('Montenegro', 28),
 ('Guatemala', 28),
 ('Australia', 34),
 ('Malawi', 24),
 ('Somalia', 36),
 ('Switzerland', 28),
 ('Laos', 34),
 ('Angola', 16),
 ('Mauritania', 29),
 ('Finland', 23),
 ('Belgium', 26),
 ('Kiribati', 25),
 ('Uzbekistan', 27),
 ('South Korea', 36),
 ('Nigeria', 23),
 ('South Africa', 23),
 ('Netherlands', 24),
 ('Solomon Islands', 31),
 ('Iran', 29),
 ('Equatorial Guinea', 33),
 ('Iraq', 29),
 ('Mauritius ', 38),
 ('Eritrea', 19),
 ('Ukraine', 33),
 ('Myanmar', 33),
 ('Latvia', 27),
 ('Portugal', 25),
 ('Barbados', 26),
 ('Poland', 28),
 ('Zambia', 31),
 ('Slovenia', 27),
 ('Bhutan', 30),
 ('Cyprus', 30),
 ('Monaco', 13),
 ('Gabon', 22),
 ('Norway', 30),
 ('Thailand', 25),
 ('Tanzania', 27),
 ('Denmark', 26),
 ('China', 27),
 ('United States of America', 38),
 ('Philippines', 24),
 ('Kuwait', 26),
 ('Turkmenistan', 31),
 ('Kosovo', 35),
 ('Hungary', 25),
 ('Pakistan', 27),
 ('Mozambique', 25),
 ('Kazakhstan', 24),
 ('East Timor', 27),
 ('Liberia', 27),
 ('Albania', 21),
 ('Moldova ', 24),
 ('India', 25),
 ('Republic of the Congo', 31),
 ('France', 26),
 ("Cote d'Ivoire", 32),
 ('Costa Rica', 26),
 ('Honduras', 33),
 ('Macedonia', 32),
 ('Greece', 32),
 ('Cambodia', 26),
 ('Botswana', 31),
 ('Vietnam', 19),
 ('Togo', 30),
 ('Kenya', 28),
 ('Andorra', 40),
 ('Iceland', 23),
 ('Marshall Islands', 26),
 ('Slovakia', 30),
 ('Ghana', 38),
 ('Bahrain', 18),
 ('Nepal', 28),
 ('Maldives', 20),
 ('Guinea-Bissau', 29),
 ('Ireland', 30),
 ('El Salvador', 24),
 ('Palau', 25),
 ('Fiji', 28),
 ('Belize', 20),
 ('Cape Verde', 14),
 ('Panama', 32),
 ('Czech Republic', 31),
 ('Sri Lanka', 31),
 ('Morocco', 21),
 ('Bosnia and Herzegovina', 33),
 ('Afghanistan', 19),
 ('Turkey', 25),
 ('Oman', 31),
 ('Malaysia', 27),
 ('Saint Vincent and the Grenadines', 22),
 ('Bulgaria', 30),
 ('Tuvalu', 22),
 ('Cuba', 28),
 ('Guinea', 33),
 ('Vanuatu', 35),
 ('United Arab Emirates', 25),
 ('Luxembourg', 28),
 ('Benin', 27),
 ('Kyrgyzstan', 29),
 ('Taiwan', 31),
 ('San Marino', 40),
 ('Samoa ', 35),
 ('Central African Republic', 26),
 ('Dominica', 18),
 ('Qatar', 32),
 ('Sudan', 34),
 ('Russia', 32),
 ('Azerbaijan', 27),
 ('Serbia', 29),
 ('Mongolia', 15),
 ('Grenada', 36),
 ('Namibia', 21),
 ('Senegal', 30),
 ('Burundi', 26),
 ('Haiti', 36),
 ('Liechtenstein', 24),
 ('United Kingdom', 23),
 ('Malta', 32),
 ('Singapore', 23),
 ('Cameroon', 31),
 ('Djibouti', 26),
 ('Uganda', 22),
 ('The Gambia', 19),
 ('Armenia', 29),
 ('Jordan', 31),
 ('Tonga', 37),
 ('Mali', 33),
 ('Swaziland', 25),
 ('Seychelles ', 30),
 ('Madagascar', 24),
 ('South Sudan', 25),
 ('Nicaragua', 20),
 ('Chad', 27),
 ('Lithuania', 25),
 ('Saint Kitts and Nevis ', 32),
 ('Jamaica', 27),
 ('Japan', 21),
 ('The Bahamas', 23),
 ('Egypt', 25),
 ('Democratic Republic of the Congo', 23),
 ('Comoros', 25),
 ('Rwanda', 30),
 ('Spain', 26),
 ('Israel', 23),
 ('Sweden', 29),
 ('Indonesia', 28),
 ('Yemen', 22),
 ('Italy', 30),
 ('New Zealand', 26),
 ('Tajikistan', 25),
 ('Dominican Republic', 29),
 ('Germany', 26),
 ('Tunisia ', 31),
 ('Sao Tome and Principe', 24),
 ('Brunei', 34),
 ('Nauru', 25),
 ('Croatia', 18),
 ('Papua New Guinea', 20),
 ('Niger', 35),
 ('Vatican City', 23),
 ('Belarus', 28),
 ('Bangladesh', 22),
 ('Greenland', 26),
 ('Sierra Leone', 23),
 ('Lesotho', 23),
 ('Zimbabwe', 21),
 ('Romania', 34),
 ('Georgia', 23),
 ('Canada', 19),
 ('Burkina Faso', 26),
 ('Syria', 19)]

In [0]:
rdd3.map(lambda x:(x[0],x[8])).groupByKey().map(lambda y:(y[0],len(y[1]))).collect()

Out[141]: [('Asia', 719),
 ('Middle East and North Africa', 610),
 ('Australia and Oceania', 416),
 ('Central America and the Caribbean', 534),
 ('Europe', 1330),
 ('Sub-Saharan Africa', 1285),
 ('North America', 106)]

In [0]:
from datetime import datetime
def convert_date(date_str):
    formats = ['%m %d %Y', '%m/%d/%Y', '%m-%d-%Y']
    for format in formats:
        try:
            date_obj = datetime.strptime(date_str, format)
            return date_obj.strftime('%Y-%m-%d')
        except ValueError:
            pass
    raise ValueError('Invalid date format: ' + date_str)

In [0]:
rdd3.map(lambda x:(x[0],x[1],x[2],x[3],x[4],convert_date(x[5]),x[6],x[7],x[8],x[9],x[10],x[11],x[12],x[13])).sortBy(lambda y:y[5],ascending=False).take(10)

Out[143]: [('Asia',
  'Bhutan',
  'Cereal',
  'Offline',
  'M',
  '2017-07-28',
  '223854434',
  '8/25/2017',
  '2356',
  '205.70',
  '117.11',
  '484629.20',
  '275911.16',
  '208718.04'),
 ('Sub-Saharan Africa',
  'Senegal',
  'Cosmetics',
  'Online',
  'C',
  '2017-07-26',
  '537970721',
  '8/18/2017',
  '6346',
  '437.20',
  '263.33',
  '2774471.20',
  '1671092.18',
  '1103379.02'),
 ('Middle East and North Africa',
  'United Arab Emirates',
  'Household',
  'Online',
  'C',
  '2017-07-26',
  '419542396',
  '8/8/2017',
  '773',
  '668.27',
  '502.54',
  '516572.71',
  '388463.42',
  '128109.29'),
 ('Australia and Oceania',
  'Australia',
  'Beverages',
  'Online',
  'L',
  '2017-07-26',
  '631485402',
  '8/12/2017',
  '9418',
  '47.45',
  '31.79',
  '446884.10',
  '299398.22',
  '147485.88'),
 ('Sub-Saharan Africa',
  "Cote d'Ivoire",
  'Vegetables',
  'Online',
  'H',
  '2017-07-24',
  '588388097',
  '8/25/2017',
  '5968',
  '154.06',
  '90.93',
  '919430.08',
  '542670.24',
  '376759.84'),
 ('Sub-Saharan Africa',
  'Chad',
  'Household',
  'Online',
  'L',
  '2017-07-24',
  '586341464',
  '7/31/2017',
  '324',
  '668.27',
  '502.54',
  '216519.48',
  '162822.96',
  '53696.52'),
 ('Australia and Oceania',
  'Vanuatu',
  'Office Supplies',
  'Online',
  'C',
  '2017-07-24',
  '480310952',
  '8/11/2017',
  '3539',
  '651.21',
  '524.96',
  '2304632.19',
  '1857833.44',
  '446798.75'),
 ('Europe',
  'Kosovo',
  'Vegetables',
  'Offline',
  'C',
  '2017-07-23',
  '975080668',
  '8/20/2017',
  '6893',
  '154.06',
  '90.93',
  '1061935.58',
  '626780.49',
  '435155.09'),
 ('Europe',
  'San Marino',
  'Snacks',
  'Offline',
  'C',
  '2017-07-22',
  '476453721',
  '8/10/2017',
  '2099',
  '152.58',
  '97.44',
  '320265.42',
  '204526.56',
  '115738.86'),
 ('Australia and Oceania',
  'Palau',
  'Baby Food',
  'Offline',
  'H',
  '2017-07-21',
  '956778991',
  '8/25/2017',
  '1020',
  '255.28',
  '159.42',
  '260385.60',
  '162608.40',
  '97777.20')]

In [0]:
rdd4=rdd3.map(lambda x:(x[2],x[2].count("a"))).filter(lambda y:y[1]>=2)
rdd4.distinct().collect()

Out[144]: [('Personal Care', 2)]

In [0]:
rdd3.map(lambda x:[(x[0],x[1]),int(x[8])]).reduceByKey(lambda a,b:a+b).sortBy(lambda y:(y[0][0],y[1]),False).groupBy(lambda z:z[0][0]).mapValues(list).map(lambda c:(c[0],c[1][0][0],c[1][0][1])).take(10)
# groupBy(lambda y:y[0]).mapValues(list).sortBy(lambda z:(z[0][0],z[1])).take(2)

Out[145]: [('Middle East and North Africa',
  ('Middle East and North Africa', 'Somalia'),
  193065),
 ('Australia and Oceania', ('Australia and Oceania', 'Australia'), 183909),
 ('Asia', ('Asia', 'Myanmar'), 199967),
 ('Sub-Saharan Africa', ('Sub-Saharan Africa', 'Equatorial Guinea'), 197767),
 ('North America', ('North America', 'United States of America'), 159519),
 ('Europe', ('Europe', 'Macedonia'), 203078),
 ('Central America and the Caribbean',
  ('Central America and the Caribbean', 'Grenada'),
  205943)]

In [0]:
rdd3.map(lambda x:(x[2],(x[9],x[10]))).groupByKey().mapValues(list).sortBy(lambda z:z[0]).map(lambda y:(y[0],y[1][1])).collect()

Out[146]: [('Baby Food', ('255.28', '159.42')),
 ('Beverages', ('47.45', '31.79')),
 ('Cereal', ('205.70', '117.11')),
 ('Clothes', ('109.28', '35.84')),
 ('Cosmetics', ('437.20', '263.33')),
 ('Fruits', ('9.33', '6.92')),
 ('Household', ('668.27', '502.54')),
 ('Meat', ('421.89', '364.69')),
 ('Office Supplies', ('651.21', '524.96')),
 ('Personal Care', ('81.73', '56.67')),
 ('Snacks', ('152.58', '97.44')),
 ('Vegetables', ('154.06', '90.93'))]

In [0]:
from datetime import datetime
def convert_date(date_str):
    formats = ['%m %d %Y', '%m/%d/%Y', '%m-%d-%Y']
    for format in formats:
        try:
            date_obj = datetime.strptime(date_str, format)
            return date_obj.strftime('%Y-%m-%d')
        except ValueError:
            pass
    raise ValueError('Invalid date format: ' + date_str)

In [0]:
rdd3.map(lambda x:(convert_date(x[5]),x[8])).map(lambda y:(y[0].split("-")[0],int(y[1]))).reduceByKey(lambda a,b:a+b).collect()

Out[148]: [('2013', 3358584),
 ('2010', 3130137),
 ('2011', 3352394),
 ('2015', 3506548),
 ('2016', 3280818),
 ('2014', 3214899),
 ('2017', 1825066),
 ('2012', 3485045)]

In [0]:
rdd3.map(lambda x:(x[2],1)).reduceByKey(lambda a,b:a+b).collect()

Out[149]: [('Baby Food', 445),
 ('Snacks', 398),
 ('Cereal', 385),
 ('Clothes', 386),
 ('Cosmetics', 424),
 ('Fruits', 447),
 ('Beverages', 447),
 ('Personal Care', 415),
 ('Office Supplies', 420),
 ('Meat', 399),
 ('Vegetables', 410),
 ('Household', 424)]

In [0]:
rdd3.map(lambda x:(x[1],int(x[8]))).reduceByKey(lambda a,b:a+b).max()

Out[150]: ('Zimbabwe', 93906)